
<div>
  <h3>Order Entry Screen UI</h3>

  <table>
    <tr>
      <td>Toppings</td>
      <td>Pizza Size</td>
    </tr>

    <tr>
      <td></td>
      <td>Small ($5)</td>
      <td>Medium ($7)</td>
      <td>Large ($8)</td>
      <td>Extra Large ($9)</td>
    </tr>

    <tr>Veg Toppings</tr>

    <tr>
      <td>Tomatoes ($1.00)</td>
      <td>
        <input type="checkbox" name="smallTomatoes" [(ngModel)]="smallTomatoes" (change)="onClickSmallPizza($event, smallTomatoes)" />
      </td>
      <td>
        <input type="checkbox" name="mediumTomatoes" [(ngModel)]="mediumTomatoes" (change)="onClickMediumPizza($event, mediumTomatoes)" />
      </td>
      <td>
        <input type="checkbox" name="largeTomatoes" [(ngModel)]="largeTomatoes" (change)="onClickLargePizza($event, largeTomatoes)" />
      </td>
      <td>
        <input type="checkbox" name="extraLargeTomatoes" [(ngModel)]="extraLargeTomatoes" (change)="onClickExtraLargePizza($event, extraLargeTomatoes)" />
      </td>
    </tr>
    
    <tr>
      <td>Onions ($0.50)</td>
      <td>
        <input type="checkbox" name="smallOnions" [(ngModel)]="smallOnions" (change)="onClickSmallPizza($event, smallOnions)" />
      </td>
      <td>
        <input type="checkbox" name="mediumOnions" [(ngModel)]="mediumOnions" (change)="onClickMediumPizza($event, mediumOnions)" />
      </td>
      <td>
        <input type="checkbox" name="largeOnions" [(ngModel)]="largeOnions" (change)="onClickLargePizza($event, largeOnions)" />
      </td>
      <td>
        <input type="checkbox" name="extraLargeOnions" [(ngModel)]="extraLargeOnions" (change)="onClickExtraLargePizza($event, extraLargeOnions)" />
      </td>
    </tr>
  
    <tr>
      <td>Bell pepper ($1.00)</td>
      <td>
        <input type="checkbox" name="smallBell" [(ngModel)]="smallBell" (change)="onClickSmallPizza($event, smallBell)" />
      </td>
      <td>
        <input type="checkbox" name="mediumBell" [(ngModel)]="mediumBell" (change)="onClickMediumPizza($event, mediumBell)" />
      </td>
      <td>
        <input type="checkbox" name="largeBell" [(ngModel)]="largeBell" (change)="onClickLargePizza($event, largeBell)" />
      </td>
      <td>
        <input type="checkbox" name="extraLargeBell" [(ngModel)]="extraLargeBell" (change)="onClickExtraLargePizza($event, extraLargeBell)" />
      </td>
    </tr>
  
    <tr>
      <td>Mushrooms ($1.20)</td>
      <td>
        <input type="checkbox" name="smallMushrooms" [(ngModel)]="smallMushrooms" (change)="onClickSmallPizza($event, smallMushrooms)" />
      </td>
      <td>
        <input type="checkbox" name="mediumMushrooms" [(ngModel)]="mediumMushrooms" (change)="onClickMediumPizza($event, mediumMushrooms)" />
      </td>
      <td>
        <input type="checkbox" name="largeMushrooms" [(ngModel)]="largeMushrooms" (change)="onClickLargePizza($event, largeMushrooms)" />
      </td>
      <td>
        <input type="checkbox" name="extraLargeMushrooms" [(ngModel)]="extraLargeMushrooms" (change)="onClickExtraLargePizza($event, extraLargeMushrooms)" />
      </td>
    </tr>
  
    <tr>
      <td>Pineapple ($0.75)</td>
      <td>
        <input type="checkbox" name="smallPineapple" [(ngModel)]="smallPineapple" (change)="onClickSmallPizza($event, smallPineapple)" />
      </td>
      <td>
        <input type="checkbox" name="mediumPineapple" [(ngModel)]="mediumPineapple" (change)="onClickMediumPizza($event, mediumPineapple)" />
      </td>
      <td>
        <input type="checkbox" name="largePineapple" [(ngModel)]="largePineapple" (change)="onClickLargePizza($event, largePineapple)" />
      </td>
      <td>
        <input type="checkbox" name="extraLargePineapple" [(ngModel)]="extraLargePineapple" (change)="onClickExtraLargePizza($event, extraLargePineapple)" />
      </td>
    </tr>

    <tr>Non Veg Toppings</tr>

    <tr>
      <td>Sausage ($1.00)</td>
      <td>
        <input type="checkbox" name="smallSausage" [(ngModel)]="smallSausage" (change)="onClickSmallPizza($event, smallSausage)" />
      </td>
      <td>
        <input type="checkbox" name="mediumSausage" [(ngModel)]="mediumSausage" (change)="onClickMediumPizza($event, mediumSausage)" />
      </td>
      <td>
        <input type="checkbox" name="largeSausage" [(ngModel)]="largeSausage" (change)="onClickLargePizza($event, largeSausage)" />
      </td>
      <td>
        <input type="checkbox" name="extraLargeSausage" [(ngModel)]="extraLargeSausage" (change)="onClickExtraLargePizza($event, extraLargeSausage)" />
      </td>
    </tr>

    <tr>
      <td>Pepperoni ($2.00)</td>
      <td>
        <input type="checkbox" name="smallPepperoni" [(ngModel)]="smallPepperoni" (change)="onClickSmallPizza($event, smallPepperoni)" />
      </td>
      <td>
        <input type="checkbox" name="mediumPepperoni" [(ngModel)]="mediumPepperoni" (change)="onClickMediumPizza($event, mediumPepperoni)" />
      </td>
      <td>
        <input type="checkbox" name="largePepperoni" [(ngModel)]="largePepperoni" (change)="onClickLargePizza($event, largePepperoni)" />
      </td>
      <td>
        <input type="checkbox" name="extraLargePepperoni" [(ngModel)]="extraLargePepperoni" (change)="onClickExtraLargePizza($event, extraLargePepperoni)" />
      </td>
    </tr>

    <tr>
      <td>Barbecue chicken ($3.00)</td>
      <td>
        <input type="checkbox" name="smallChicken" [(ngModel)]="smallChicken" (change)="onClickSmallPizza($event, smallChicken)" />
      </td>
      <td>
        <input type="checkbox" name="mediumChicken" [(ngModel)]="mediumChicken" (change)="onClickMediumPizza($event, mediumChicken)" />
      </td>
      <td>
        <input type="checkbox" name="largeChicken" [(ngModel)]="largeChicken" (change)="onClickLargePizza($event, largeChicken)" />
      </td>
      <td>
        <input type="checkbox" name="extraLargeChicken" [(ngModel)]="extraLargeChicken" (change)="onClickExtraLargePizza($event, extraLargeChicken)" />
      </td>
    </tr>

    <tr>
      <td>Total</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  
    <tr>
      <td>Offer</td>
      <td></td>
      <td *ngIf="!offer1"></td>
      <td *ngIf="offer1">
        Offer 1 
        <span>
          <input type="checkbox" name="offer1Check" disabled checked/>
        </span>
      </td>
      <td *ngIf="!offer3"></td>
      <td *ngIf="offer3">
        Offer 3
        <span>
          <input type="checkbox" name="offer3Check" disabled checked/>
        </span>
      </td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td>{{smallTotal > 0 ? '$' + smallTotal : ''}}</td>
      <td *ngIf="!offer1">{{mediumTotal > 0 ? '$' + mediumTotal : ''}}</td>
      <td *ngIf="offer1">
        <div>
          <span>{{mediumTotal > 0 ? '$' + mediumTotal : ''}}</span>
          <span>$5</span>
        </div>
      </td>
      <td *ngIf="!offer3">{{largeTotal > 0 ? '$' + largeTotal : ''}}</td>
      <td *ngIf="offer3">
        <div>
          <span>{{largeTotal > 0 ? '$' + largeTotal : ''}}</span>
          <span>{{largeTotal > 0 ? '$' + largeTotal/2 : ''}}</span>
        </div>
      </td>
      <td>{{extraLargeTotal > 0 ? '$' + extraLargeTotal : ''}}</td>

    </tr>

  </table>
</div>

<router-outlet></router-outlet>
